<%= form_with(model: appointment_type, local: true) do |form| %>
  <% if appointment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment_type.errors.count, "error") %> prohibited this appointment_type from being saved:</h2>

      <ul>
      <% appointment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :fields do |builder| %>
    <%= render 'field_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields 'Add field', form, :fields %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
