<p id="notice"><%= notice %></p>

<h1>Appointment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointment_types.each do |appointment_type| %>
      <tr>
        <td><%= appointment_type.name %></td>
        <td><%= link_to 'Show', appointment_type %></td>
        <td><%= link_to 'Edit', edit_appointment_type_path(appointment_type) %></td>
        <td><%= link_to 'Destroy', appointment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment Type', new_appointment_type_path %>
